# Ignore anything that ends with .pkl

```bash
*.pdb
*.ckpt
*.yaml
*.pkl
*.pyc
*.out
*.log
*.pickle
*.json
*.sh
*.mol
*.pth
*.pt
*.sdf
*.mol2
*.xyz
wandb*
*L_sidechain*
*3DcoordsAtomsBonds*
*pdbbind*
*.png
*.csv
*.npz
```