name: Deploy API to Cloud Run

on:
  workflow_run:
    workflows: ["Deploy"]
    types:
      - completed
    branches:
      - mlops

jobs:
  deploy-api:
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6
        with:
          ref: ${{ github.event.workflow_run.head_sha }}

      - name: Auth with GCP
        uses: google-github-actions/auth@v2
        with:
          credentials_json: ${{ secrets.GCP_SERVICE_ACCOUNT_KEY }}

      - name: Set up Cloud SDK
        uses: google-github-actions/setup-gcloud@v2

      - name: Install uv
        uses: astral-sh/setup-uv@v5

      - name: Fetch Model from W&B
        env:
          WANDB_API_KEY: ${{ secrets.WANDB_API_KEY }}
          WANDB_ENTITY: ${{ vars.WANDB_ENTITY }}
          WANDB_PROJECT: ${{ vars.WANDB_PROJECT }}
          MODEL_ARTIFACT: "model-registry/uaag2:latest"
        run: |
          uv run invoke fetch-model --artifact "$WANDB_ENTITY/$WANDB_PROJECT/$MODEL_ARTIFACT" --output "models/good_model/last.ckpt"

      - name: Submit build to Cloud Build
        run: gcloud builds submit . --config configs/cloudbuild_api.yaml

      - name: Deploy to Cloud Run
        run: |
          PROJECT_ID=$(gcloud config get-value project)
          IMAGE_URI="europe-west1-docker.pkg.dev/$PROJECT_ID/mlops-docker/api:latest"

          gcloud run deploy uaag2-api \
            --image $IMAGE_URI \
            --region europe-west1 \
            --platform managed \
            --allow-unauthenticated \
            --port 8080 \
            --memory 2Gi \
            --cpu 1
