name: Test and deploy

on:
  push:
    branches: [main, mlops]
  pull_request:
    branches: [main, mlops]

jobs:
  test:
    name: Run tests
    runs-on: ${{ matrix.operating-system }}
    strategy:
      matrix:
        operating-system: ["ubuntu-latest", "macos-latest"]
        python-version: ["3.12"]

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          enable-cache: true
          cache-dependency-glob: "uv.lock"
          python-version: ${{ matrix.python-version }}

      - name: Install dependencies
        run: |
          uv sync --locked --dev
          uv tree

      - name: Fetch data
        run: |
          uv run invoke fetch-data

      - name: Run tests & coverage
        run: |
          uv run coverage run -m pytest tests/
          uv run coverage report -m

  deploy-api:
    name: Deploy API
    needs: test
    # if: github.ref == 'refs/heads/mlops'
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Auth with GCP
        uses: google-github-actions/auth@v2
        with:
          credentials_json: ${{ secrets.GCP_SERVICE_ACCOUNT_KEY }}

      - name: Set up Cloud SDK
        uses: google-github-actions/setup-gcloud@v2

      - name: Install uv
        uses: astral-sh/setup-uv@v5

      - name: Fetch Model from W&B
        env:
          WANDB_API_KEY: ${{ secrets.WANDB_API_KEY }}
          #WANDB_ENTITY: ${{ secrets.WANDB_ENTITY }}
          #WANDB_PROJECT: ${{ secrets.WANDB_PROJECT }}
          MODEL_ARTIFACT: "yhsure-university-of-copenhagen-org/wandb-registry-uaag2/uaag_models:latest"
        run: |
          uv run invoke fetch-model --artifact "$MODEL_ARTIFACT" --output "models/good_model"

      - name: Submit build to Cloud Build
        run: gcloud builds submit . --config configs/cloudbuild_api.yaml

      - name: Deploy to Cloud Run
        run: |
          PROJECT_ID=$(gcloud config get-value project)
          IMAGE_URI="europe-west1-docker.pkg.dev/$PROJECT_ID/mlops-docker/api:latest"

          gcloud run deploy uaag2-api \
            --image $IMAGE_URI \
            --region europe-west1 \
            --platform managed \
            --allow-unauthenticated \
            --port 8080 \
            --memory 4Gi \
            --cpu 4 \
            --timeout 1800
