name: Linting

on:
  push:
    branches: [main, mlops]
  pull_request:

jobs:
  format:
    name: Check code formatting
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          enable-cache: true
          cache-dependency-glob: "uv.lock"

      - name: Install dependencies
        run: |
          uv sync --locked --dev
          uv tree

      - name: Lint/perform precommit checks
        run: |
          uv run pre-commit run --show-diff-on-failure --color=always --all-files
