name: "pre-commit"
on:
  pull_request:
  push:
    branches: [main, mlops]

jobs:
  pre-commit:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: astral-sh/setup-uv@v7
        with:
          enable-cache: true
          cache-dependency-glob: "uv.lock"
      - uses: pre-commit/action@v3.0.1
