name: Test wandb model and deploy

on:
  repository_dispatch:
    types: staged_model
  workflow_dispatch:


jobs:
  identify_event:
    runs-on: ubuntu-latest
    outputs:
      model_name: ${{ steps.set_output.outputs.model_name }}
    steps:
      - name: Check event type
        run: |
          echo "Event type: repository_dispatch"
          echo "Payload Data: ${{ toJson(github.event.client_payload) }}"

      - name: Setting model environment variable and output
        id: set_output
        run: |
          echo "MODEL_NAME=${{ github.event.client_payload.artifact_version_string }}" >> $GITHUB_OUTPUT

  test_model:
    runs-on: ubuntu-latest
    needs: identify_event
    env:
      WANDB_API_KEY: ${{ secrets.WANDB_API_KEY }}
      WANDB_ENTITY: ${{ secrets.WANDB_ENTITY }}
      WANDB_PROJECT: ${{ secrets.WANDB_PROJECT }}
      MODEL_NAME: ${{ needs.identify_event.outputs.model_name }}
    steps:
      - name: Echo model name
        run: |
          echo "Model name: $MODEL_NAME"

      - name: Checkout code
        uses: actions/checkout@v6

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: "3.12"

      - name: Install uv
        uses: astral-sh/setup-uv@v7

      - name: Install dependencies
        run: |
          uv sync --locked --dev
          uv pip list

      - name: Fetch data
        run: |
          uv run invoke fetch-data

      - name: Test model
        run: |
          uv run pytest tests/performancetests/test_model.py

  add_production_alias:
    runs-on: ubuntu-latest
    needs: [identify_event, test_model]
    env:
      WANDB_API_KEY: ${{ secrets.WANDB_API_KEY }}
      WANDB_ENTITY: ${{ secrets.WANDB_ENTITY }}
      WANDB_PROJECT: ${{ secrets.WANDB_PROJECT }}
      MODEL_NAME: ${{ needs.identify_event.outputs.model_name }}
    steps:
      - name: Echo model name
        run: |
          echo "Model name: $MODEL_NAME"

      - name: Checkout code
        uses: actions/checkout@v6

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: "3.12"

      - name: Install uv
        uses: astral-sh/setup-uv@v7

      - name: Install dependencies
        run: |
          uv sync
          uv pip list

      - name: Add production alias
        run: |
          uv run python link_model.py $MODEL_NAME -a production

  deploy-api:
    name: Deploy API
    needs: [add_production_alias, identify_event]
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Auth with GCP
        uses: google-github-actions/auth@v3
        with:
          credentials_json: ${{ secrets.GCP_SERVICE_ACCOUNT_KEY }}

      - name: Set up Cloud SDK
        uses: google-github-actions/setup-gcloud@v2

      - name: Install uv
        uses: astral-sh/setup-uv@v5

      - name: Fetch Model from W&B
        env:
          WANDB_API_KEY: ${{ secrets.WANDB_API_KEY }}
          #WANDB_ENTITY: ${{ secrets.WANDB_ENTITY }}
          #WANDB_PROJECT: ${{ secrets.WANDB_PROJECT }}
          # Use the specific model version that was just staged
          MODEL_ARTIFACT: "${{ needs.identify_event.outputs.model_name }}"
        run: |
           uv run invoke fetch-model --artifact "${{ needs.identify_event.outputs.model_name }}" --output "models/good_model"

      - name: Submit build to Cloud Build
        run: gcloud builds submit . --config configs/cloudbuild_api.yaml

      - name: Deploy to Cloud Run
        run: |
          PROJECT_ID=$(gcloud config get-value project)
          IMAGE_URI="europe-west1-docker.pkg.dev/$PROJECT_ID/mlops-docker/api:latest"

          gcloud run deploy uaag2-api \
            --image $IMAGE_URI \
            --region europe-west1 \
            --platform managed \
            --allow-unauthenticated \
            --port 8080 \
            --memory 4Gi \
            --cpu 4 \
            --timeout 1800
